<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="{{mascota_a_actualizar.nombre}}">
        <label for="tipo">tipo</label>
        <input type="text" name="tipo" id="tipo" value="{{mascota_a_actualizar.tipo}}">
        <label for="raza">raza</label>
        <input type="text" name="raza" id="raza" value="{{mascota_a_actualizar.raza}}">
        <label for="servicio">servicio</label>
        <input type="text" name="servicio" id="servicio" value="{{mascota_a_actualizar.servicio}}">
        <label for="duenho">duenho</label>
        <input type="text" name="duenho" id="duenho" value="{{mascota_a_actualizar.duenho}}">
        <label for="fecha">fecha</label>
        <input type="text" name="fecha" id="fecha" value="{{mascota_a_actualizar.fecha}}">
        <label for="costo">costo</label>
        <input type="text" name="costo" id="costo" value="{{mascota_a_actualizar.costo}}">

        <button type="submit">Listo</button>
    </form>

</body>
</html>