<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[url('https://png.pngtree.com/background/20220714/original/pngtree-cute-cat-footprint-pattern-background-picture-image_1605674.jpg')] bg-center">
    
    <div class="flex items-center justify-center" style = "margin-top: 500px">
        <div class="flex items-center justify-center border border-orange-600 " style="width: 600px; height: 200px;">
            <a href="/cargar_datos" class="text-5xl font-mono"> Registrar Mascota</a> 
        </div>
    </div>
</body>
</html>