<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <table>
        <thead class="bg-red-500 flex justify-evenly" > <!-- Encabezado -->
            <th>Nombre</th>
            <th>Perro/Gato</th>
            <th>Raza</th>
            <th>Servicio</th>
            <th>Dueño</th>
            <th>Fecha</th>
            <th>Costo</th>
        </thead>
        <tbody>
            {% for mascota in lista_mascotas %}
            <td> {{mascota.nombre}} </td>
            <td> {{mascota.tipo}} </td>
            <td> {{mascota.raza}} </td>
            <td> {{mascota.servicio}} </td>
            <td> {{mascota.duenho}} </td>
            <td> {{mascota.fecha}} </td>
            <td> {{mascota.costo}} </td>

            <td>
                <form action="{{url_for('actualizar', mascota_id=mascota.id)}}", method="get">
                    <button type="submit">Actualizar</button>
                </form>
            </td>
            <td>
                <form action="/eliminar" method="post">
                    <input type="hidden" name="mascota_id" value="{{mascota.id}}">
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>